.cstruter-dropdown-container-button {
	background: #ededed;
	border: 1px solid #ccc;
	padding: 10px;
	cursor: pointer;
}

.cstruter-dropdown-container-button-active {
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	cursor: pointer;
}

.cstruter-dropdown-container {
    position: relative;
    display: inline-block;
}

.cstruter-dropdown-container-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}