ul.cstruter-tree-responsive, 
ul.cstruter-tree-responsive ul {
	list-style-type: none;
	padding:0;
}

ul.cstruter-tree-responsive-disabled {
	color:#777;
}

ul.cstruter-tree-responsive {
	display:none;
}

ul.cstruter-tree-responsive li.cstruter-tree-responsive-parent
{
	cursor:pointer;
}

ul.cstruter-tree-responsive-disabled li.cstruter-tree-responsive-parent {
	cursor: not-allowed;
}

ul.cstruter-tree-responsive li.cstruter-tree-responsive-item-disabled {
	cursor: not-allowed;
	color:#777;
}

ul.cstruter-tree-responsive li span {
	border: 1px solid #CCC;
	display:block;
	padding:10px;
	padding-left:20px;
}

ul.cstruter-tree-responsive li span.cstruter-tree-responsive-parent-selected {
	background: url(images/up.gif) no-repeat !important;	
	background-color:#999 !important;
	color:#FFF;
    background-position: left center !important;
}

ul.cstruter-tree-responsive li.cstruter-tree-responsive-parent.cstruter-tree-responsive-collapsed > span {
	background: url(images/next.gif) no-repeat;
	background-position: left;
}

ul.cstruter-tree-responsive li span.cstruter-tree-responsive-selected {
	background-color:#EEE !important;
}

ul.cstruter-tree-responsive li.cstruter-tree-responsive-parent > span, 
ul.cstruter-tree-responsive li span.cstruter-tree-responsive-selected {
	margin: 0;
	background: url(images/back.gif) no-repeat;
	background-position: left;
}

ul.cstruter-tree-responsive li.cstruter-tree-responsive-parent.cstruter-tree-responsive-collapsed ul {
	display:none;
}

ul.cstruter-tree-responsive li span.cstruter-tree-responsive-obscure {
	display:none;
}